<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form action="">
            <div>
                用户名：
                <!-- 按键修饰符删除 -->
                <input type="text" v-on:keyup.delete='clear' v-model='username'>
            </div>
            <div>
                密码：
                <!-- 按键修饰符回车 -->
                <input type="password" v-on:keyup.enter='submit' v-model='password'>
            </div>
            <div>
                <input type="button" v-on:click='submit' value="提交">
            </div>
            <div>
                A键：
                <!-- 按键修饰符回车 -->
                <input type="text" v-on:keyup.a='akey' v-model='A'>
            </div>
        </form>
    </div>
    <script src="./node_modules/vue/dist/vue.min.js"></script>
    <script>
        // 自定义按键修饰符a 用ASCLL码
        Vue.config.keyCodes.a = 65;
        let vm = new Vue({
            el:'#app',
            data:{
                msg:'Hello Vue',
                username:'',
                password:'',
                A:''
            },
            methods:{
                submit:function(){
                    console.log(this.username,this.password);
                },
                clear:function(){
                    this.username = '';
                },
                akey:function(){
                    console.log(this.A);
                }
            }
        })
    </script>
</body>
</html>